/* Header */
.header {
    justify-content: space-between;
    padding: .8rem 3rem;
    z-index: 2;
}

nav.nav_menu {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
    box-shadow: none;
    align-items: center;
    top: auto;
    left: auto;
    width: auto;
}

nav.nav_menu a {
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    text-decoration: none;
    letter-spacing: .2rem;
    margin-right: 2.5rem;
    border-bottom: none;
}

nav.nav_menu a:hover {
    color: #00c6ff;
    padding: .5rem;
    border-bottom: 1px solid #00c6ff;
    transition: all .5s;
}

nav.nav_menu.not-active a {
    display: flex;
}

nav.nav_menu.not-active .flags {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

nav.nav_menu.not-active .flags__item {
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .flags__item img {
    width: 3rem;
    transition: .4s all;
}

nav.nav_menu.not-active .flags__item:hover {
    filter: contrast(100%);
}

.container--btnMenu {
    display: none;
}

/* Home */
.container_home {
    flex-direction: row;
    justify-content: space-between;
    max-width: 120rem;
    padding: 0 5rem;
}

.container_text--home {
    text-align: left;
}

.home_text-1 {
    font-size: 3.2rem;
}

.home_text-2 {
    font-size: 6rem;
}

.typing {
    font-size: 4.2rem;
}

/* Sobre mi */
.tarjeta-sobremi {
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: row;
    text-align: left;
    gap: 6rem;
}

.container_image-sobreMi {
    margin-left: 3%;
    width: 350%;
}

/* Habilidades */
.cards_container--habilidades {
    gap: 3rem;
}

/* Proyectos */
.cards--proyectos {
    flex-basis: 45rem;
    flex-grow: 1;
}

.project_details {
    flex-direction: column;
}

.project-links {
    flex-direction: row;
}

/* Educación y Experiencia */
.container_info--educacion {
    flex-direction: row;
    justify-content: center;
}

/* Contacto */
.contacto {
    padding: 3rem 10rem;
}

.container_info--contacto {
    flex-direction: row;
    justify-content: space-around;
}

.contacto form {
    margin-bottom: 0;
}